@tailwind base;
@tailwind components;
@tailwind utilities;

.genderfae {
	background-image: linear-gradient(
		180deg,
		#96c3a4 0% 20%,
		#f9face 20% 40%,
		#f1f5f9 40% 60%,
		#fca2c5 60% 80%,
		#aa7edd 80% 100%
	);
}

.lesbian {
	background-image: linear-gradient(
		180deg,
		#d52d00 0% 20%,
		#ff9a56 20% 40%,
		#f1f5f9 40% 60%,
		#d162a4 60% 80%,
		#a30262 80% 100%
	);
}

.transfeminine {
	background-image: linear-gradient(
		180deg,
		#7d1558 0% 20%,
		#b6019b 20% 40%,
		#fc77ff 40% 60%,
		#8054e0 60% 80%,
		#54208c 80% 100%
	);
}
