@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	@apply w-2;
}

::-webkit-scrollbar-track {
	@apply bg-slate-100 dark:bg-neutral-900;
}

::-webkit-scrollbar-thumb {
	background-image: linear-gradient(
		180deg,
		#d52800 0% 14%,
		#fd9954 14% 28%,
		#f07425 28% 42%,
		#fff 42% 56%,
		#d161a7 56% 70%,
		#b65591 70% 84%,
		#9a055f 84% 100%
	);
}

.bg-slate-100 {
	--bg: rgb(241 245 249);
}

.dark\:bg-neutral-900 {
	--bg: rgb(23 23 23);
}

body {
	scrollbar-width: thin;
	scrollbar-color: linear-gradient(
			180deg,
			#d52800 0% 14%,
			#fd9954 14% 28%,
			#f07425 28% 42%,
			#fff 42% 56%,
			#d161a7 56% 70%,
			#b65591 70% 84%,
			#9a055f 84% 100%
		)
		var(--bg);
}

.trans {
	background-image: linear-gradient(
		90deg,
		#55cdfc 0 20%,
		#f7a8b8 20% 40%,
		#fff 40% 60%,
		#f7a8b8 60% 80%,
		#55cdfc 80% 100%
	);
}
